
.page {
 list-style: none;
 text-align: center;

}

.listNumber {
  margin: 20px 0;
  display: inline-block;
  margin-right: 10px;
  
}


.anchor{
  display: block;
  padding: 10px 20px;
  color: white;
  background: #216a38;
  text-decoration: none;
}

.anchor:hover {
  background: #1d301c;

}