
.page {
 list-style: none;
 text-align: center;
  margin-right: 2rem;
}

.listNumber {
  margin: 20px 0;
  display: inline-block;
  margin-right: 10px;
  
}


.anchor{
  display: block;
  padding: 8px 13px;
  color: white;
  background: #6D925C;
  text-decoration: none;
}

.anchor:hover {
  background: #1d301c;

}