.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: #6D925C;

}

.home {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.create {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.searchBox {
  border: none;
  outline: none;
  padding: 10px;
}

.searchButton {
  margin-left: 6px;
}